<h3>Navigation</h3>
<ul>
  <li>
    <button hx-push-url="true" hx-get="/dashboard" hx-target="#main-content">
      Dashboard
    </button>
  </li>
  <li>
    <button hx-push-url="true" hx-get="/users" hx-target="#main-content">
      Users
    </button>
  </li>
</ul>
